
body {
    font-family: 'Comfortaa', cursive;
    margin: 0;

}
h1{
    font-size: 50px;
}
.Name-highlight {
    color:orange;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width IMG{
    width: 100%;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: No-repeat;
}
section {
    height: 500px;
}